# {{name}}

{{bio}}

## Work

{{#work}}
* ### {{position}}, {{name}}
  {{startDate}} - {{endDate}}
  {{description}}
  {{#highlights}}
  * {{.}}
  {{/highlights}}
{{/work}}

{{#education}}
* ### {{name}}
  {{startDate}} - {{endDate}}
  {{area}}
{{/education}}

## References
{{#references}}
> {{reference}} - **{{name}}**
{{/references}}
